{% extends "newapp/base.html"%}
                
                {% block content%}
                {% for question in questions %}
                    <article class="question">
                        <time class="date">
                            published at {{ question.published_date }}
                        </time>
                        <h2><a href="{% url 'question_detail' pk=question.pk%}">{{ question.question_title }}</a></h2>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.
                            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.
                            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.
                        </p>
                    </article>
                {% endfor %}
                {% endblock%}
     