<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Home Page</a></h1>
        </header>
        {% for question in questions %}
            <article>
                <time>published at {{ question.published_date }}</time>
                <h2><a href="">{{ question.question_title }}</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </article>
        {% endfor %}
    </body>
</html>
