{%extends "newapp/base.html"%}

{%block content%}
<article class="questions">
        <aside class="actions">
            {% if user.is_authenticated%}
            <a class="btn btn-secondary" href="{% url 'question_edit' pk=questions.pk %}">
                <i class="bi bi-pencil-fill" style = "color: red"></i>
            </a>
            {%endif%}
<article class="questions">
        {% if questions.published_date %}
            <time class="date">
                {{ questions.published_date }}
            </time>
        {% endif %}
        <h2>{{ questions.title }}</h2>
        </article>
{%endblock%}